<div class="flex min-h-screen bg-gray-100">

  <!-- Sidebar -->
  <aside class="w-64 bg-gray-900 text-white flex flex-col p-5">

    <h2 class="text-xl font-bold mb-8">Admin Panel</h2>

    <a routerLink="/dashboard"
       routerLinkActive="bg-gray-700"
       class="mb-3 p-2 rounded hover:bg-gray-700">
       Dashboard
    </a>

    <a routerLink="/users"
       routerLinkActive="bg-gray-700"
       class="mb-3 p-2 rounded hover:bg-gray-700">
       Users
    </a>

    <button
      (click)="logout()"
      class="mt-auto bg-red-500 hover:bg-red-600 p-2 rounded cursor-pointer">
      Logout
    </button>

  </aside>

  <!-- Main Content -->
  <div class="flex-1 p-6">
    <router-outlet></router-outlet>
  </div>

</div>
